@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h2{
    text-align: center;
}

#input-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: 2px solid orangered;
    margin-bottom: 50px;
}

.myinputs{
    height: 40px;
    width: 160px;
    margin: 0px 2.5px;
    border-color: rgb(229, 201, 197);
}

#addbutton{
    height: 40px;
    width : 120px;
    background-color: rgb(229, 201, 197);
    color: white;
    cursor: pointer;
}

#div1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid salmon;
    background-color: rgb(229, 201, 197);
    height: 60px;
    /* width: 784px; */
    min-width: 784px;
    margin: 2.5px;
}



#playerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#divname{
    border: 1px solid yellowgreen;
    width: 170px;
    margin-right: 70px;
    text-align: left;
}


#divcountry{
    border: 1px solid yellowgreen;
    width: 150px;
    margin-right: 50px;
    text-align: left;
}

#divscore{
    margin-right: 60px;
    border: 1px solid black;
    height: 40px;
    width : 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle{
    height: 45px;
    width: 45px;
    font-size: 10px;
    border: 1px solid rgb(197, 0, 33);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 2.5px;
    background-color: white;
    cursor: pointer;

}

#circDiv{
    margin-left: 40px;
    display: flex;
    border: 1px solid rebeccapurple;
}




